client-side/src/main/resources/wsdl/helloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.hw.demo/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://service.server.hw.demo/" name="HelloWorld">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.server.hw.demo/"
                        schemaLocation="http://localhost:9000/helloWorld?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="sayHi">
        <part name="parameters" element="tns:sayHi"/>
    </message>
    <message name="sayHiResponse">
        <part name="parameters" element="tns:sayHiResponse"/>
    </message>
    <message name="sayHiToUser">
        <part name="parameters" element="tns:sayHiToUser"/>
    </message>
    <message name="sayHiToUserResponse">
        <part name="parameters" element="tns:sayHiToUserResponse"/>
    </message>
    <message name="getUserList">
        <part name="parameters" element="tns:getUserList"/>
    </message>
    <message name="getUserListResponse">
        <part name="parameters" element="tns:getUserListResponse"/>
    </message>
    <message name="getUsers">
        <part name="parameters" element="tns:getUsers"/>
    </message>
    <message name="getUsersResponse">
        <part name="parameters" element="tns:getUsersResponse"/>
    </message>
    <portType name="HelloWorld">
        <operation name="sayHi">
            <input wsam:Action="http://service.server.hw.demo/HelloWorld/sayHiRequest" message="tns:sayHi"/>
            <output wsam:Action="http://service.server.hw.demo/HelloWorld/sayHiResponse" message="tns:sayHiResponse"/>
        </operation>
        <operation name="sayHiToUser">
            <input wsam:Action="http://service.server.hw.demo/HelloWorld/sayHiToUserRequest" message="tns:sayHiToUser"/>
            <output wsam:Action="http://service.server.hw.demo/HelloWorld/sayHiToUserResponse"
                    message="tns:sayHiToUserResponse"/>
        </operation>
        <operation name="getUserList">
            <input wsam:Action="http://service.server.hw.demo/HelloWorld/getUserListRequest" message="tns:getUserList"/>
            <output wsam:Action="http://service.server.hw.demo/HelloWorld/getUserListResponse"
                    message="tns:getUserListResponse"/>
        </operation>
        <operation name="getUsers">
            <input wsam:Action="http://service.server.hw.demo/HelloWorld/getUsersRequest" message="tns:getUsers"/>
            <output wsam:Action="http://service.server.hw.demo/HelloWorld/getUsersResponse"
                    message="tns:getUsersResponse"/>
        </operation>
    </portType>
    <binding name="HelloWorldImplPortBinding" type="tns:HelloWorld">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sayHi">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sayHiToUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUserList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUsers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelloWorld">
        <port name="HelloWorldImplPort" binding="tns:HelloWorldImplPortBinding">
            <soap:address location="http://localhost:9000/helloWorld"/>
        </port>
    </service>
</definitions>